body{ 
    margin: 0;
    padding: 0;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#fff;
	text-decoration:none;
}

.block-centered {
  margin: 0 auto;
}
.win95 {
	margin:0;
    padding:0;
    font-family:VT323;
    user-select:none;
}
.win98 {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-size: 11px;
  font-family: Tahoma, Verdana;
  color: #070707;
  background: url('../img/pape.jpg') no-repeat center center fixed;
  background-size: cover;
  cursor: default!important;
  overflow: hidden;
}
.win98 .window {
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  width: 400px;
  cursor: default!important;
}
.win98 .window .content {
  position: relative;
  padding: 7px 10px;
}
.win98 .window .content ul li a {
  color: #000080;
  text-decoration: underline;
}
.win98 .window .header {
  margin: 2px 2px 0;
  padding: 1px 2px;
  color: #fff;
  background: -webkit-linear-gradient(left, #000080, #1084d0);
  background: linear-gradient(to right, #000080, #1084d0);
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
}
.win98 .window .header .icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 2px;
}
.win98 .window .header .buttons {
  height: 14px;
  float: right;
}
.win98 .window .header .buttons button {
  vertical-align: text-top;
  font-weight: bold;
  line-height: 12px;
  padding: 0;
  height: 14px;
  width: 14px;
  position: relative;
  top:-16px;
}
.win98 .menu {
  /* background: url('../img/win9832x.png') no-repeat left; */
  background-color: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  zoom: 1;
  width: 195px;
  font-size: 13px;
  padding: 1px;
  position: relative;
  cursor: default;
}
.win98 .menu:before,
.win98 .menu:after {
  content: "";
  display: table;
  
}
.win98 .menu:after {
  clear: both;
}
.win98 .menu >.menu-content {
  float: right;
}
.win98 .menu .menu-sidebar {
  background: -webkit-linear-gradient(top, #000080, #1084d0);
  background: linear-gradient(to bottom, #000080, #1084d0);
  position: absolute;
  width: 25px;
  height: 100%;
}
.win98 .menu .menu-sidebar .headline {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  bottom: 60px;
  left: -54px;
  width: 140px;
  height: 30px;
  font-size: 16px;
  color: #fff;
}
.win98 .menu .menu-content {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #000;
  list-style: none;
  margin: 2px 0;
  width: 170px;
}
.win98 .menu .menu-content .divider {
  margin: 7px 6px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #dfdfdf;
}
.win98 .menu .menu-content .item {
  padding: 10px;
}
.win98 .menu .menu-content .item em {
  font-style: normal;
  text-decoration: underline;
}
.win98 .menu .menu-content .item:hover {
  color: #fff;
  background: #000080;
}
.win98 .menu .menu-content .item.folder {
  position: relative;
}
.win98 .menu .menu-content .item.folder:after {
  content: '\25B6';
  float: right;
  font-size: 10px;
}
.win98 .menu .menu-content .item .icon {
  float: left;
  margin-right: 7px;
  margin-top: -4px;
}
.win98 .menu .menu-content .item:hover .menu-content,
.win98 .menu .menu-content .item:focus .menu-content {
  display: block;
}
.win98 .menu .menu-content .menu-content {
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  display: none;
  position: absolute;
  left: 165px;
  top: -4px;
}
.win98 .menu .menu-content .menu-content .item {
  padding: 3px 10px;
}
.win98 .menu .menu-content .menu-content .icon {
  width: 18px;
  height: 18px;
  margin-top: -2px;
}
.win98 button {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-size: 11px;
  font-family: Tahoma, Verdana;
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: none;
  padding: 4px;
  cursor: default;
}
.win98 button:enabled {
  color: #070707;
}
.win98 button:disabled {
  color: #818181;
  text-shadow: 1px 1px #fff;
}
.win98 button:active:enabled {
  box-shadow: 1px 1px 0 0 #000 inset;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}
.win98 input {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-size: 11px;
  font-family: Tahoma, Verdana;
  color: #070707;
  box-shadow: -1px -1px 0 0 #808080, 1px 1px 0 0 #fff;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}
.win98 .resizable {
  overflow: auto;
  resize: both;
}
.ztop {
  z-index:10;
}
.ztop:focus {
  z-index: 12;
}
.zdesk {
  z-index:1;
}
.desktopicon {
  width: 100px;
  margin-top:2rem;
}
.desktopicon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.exename {
  font-size:1rem;
  padding:3px;
  text-align: center;
}
.selected {
  color: white;
  background-color: #000080;
  border:1px dotted white;
}
.interface {
  overflow: hidden;
}
.windowtitle {
  overflow: hidden;
  white-space: nowrap;
}

/* justo breaking things*/
.icon {
  width:25px;
}
.secretjumbotron {
  background-color:rgba(255, 255, 255, 0.0);
  overflow: hidden;
}
.dynamicufontu {
  margin: 0;
  font-size: calc(4vw + 4vh + 2vmin);
}

.startClick {
  /* background-image: url("../img/checkerboard.png") !important; 
  this is not working because it'd just overwrite the windows icon
  instead of underlaying a new background-image to the entire button*/
  border-bottom: 1px solid white !important;
  border-right: 1px solid white !important;
  border-top: 2px groove black !important;
  border-left: 2px groove black !important;
  font-weight: bold !important;
  background-color: ;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
}

#terminalView {
  height:400px;
  width:650px;
  background-color: black;
  color: #8e8e8e;
  font-family: "Lucida Console", Monaco, monospace;
  overflow-y:auto;
}
#commandLine {
  padding-left:0!important;
  width:100%;
}
#commandLine li.intro {
  white-space: pre-wrap;
}
#commandLine li {
  list-style:none;
}
#commandLine input {
  border: none!important;
  box-shadow: none!important;
  color: #8e8e8e;
  background-color: black;
  width: 70%;
}
#commandLine input:focus {
  outline-width:0;
}
#commandLine .error {
  color: red;
}
#commandLine .good {
  color: green;
}
#terminal.window {
  width: auto!important;
}

#terminal .content, 
#roadmap .content,
#seedkeys .content,
#webbrowser .content{
  padding:0!important;
}

#roadmapText, #seedText {
  outline: none;
  width: 98.5%;
  height: 100%;
  resize: none;
}

#webbrowser.window {
  width:90%;
  height:90%;
}
#webbrowser .content {
  width:100%;
  height:100%;
}
#webbrowser .addressbar {
  width:100%;
}
#browserTarget {
  width: 100%;
  height:100%;
}
#url {
  width:83%;
}
#visit {
  width:10%;
}


/* *{cursor:none;} */
/* .trail */
/* { */
    /* position:fixed; */
    /* transform-origin:0 0; */
/* } */
/* #trails */
/* { */
    /* pointer-events: none; */
    /* position:fixed; */
    /* top:0; */
    /* left:0; */
    /* /* z-index:99998; */
    /* width:100%; */
    /* height:100vh; */
/* } */
/* #cursor */
/* { */
    /* pointer-events:none; */
    /* position:fixed; */
    /* z-index:999999; */
    /* width:12px; */
    /* height:19px; */
    /* transform-origin:0 0; */
/* } */
/* @keyframes pointer_trails */
/* { */
    /* 0%{width:12px;height:19px;} */
    /* 100%{width:12px;height:19px;} */
/* } */

@media only screen and (min-width:601px){
  /* initial placements for windows
  on non mobile screens */
  .win98 .center {
    position: absolute;
  }
  .fastfomo {
    top:20vh;
    left:20vw;
  }
  .longfomo {
    top:40vh;
    left:20vw;
  }
  .eternalp3d {
    top:30vh;
    left:50vw;
  }
  .browserwindow {
    top:1vh;
    left:3vw;
  }
}

@media only screen and (max-width:600px){
  .win98 .center {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  .win98 .window{
    width:100%;
    height: 100%;
  }
  .win98 .window .header .buttons button {
    width: 40px;
    height:14px;
  }
  .windowtitle {
    max-width: 48%;
    text-overflow: ellipsis;
  }
}
